.navbar{
    display: flex;
    background-color: rgb(218, 218, 244);
    width: 99%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    position:relative;
    padding: 20px;
    
    
}
.navbar ul li{
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
    
}
.navbar img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.navbar ul li a:hover{
    color: brown;
    font-size: 50px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
.half-width{
    width: 50%;
    padding: 40px;
    text-align: justify;
}
.contaier{
    display: flex;
}
.title{
    font-style: italic;
}
h3{
    text-shadow: 3px 3px 5px #FF0000, -3px -3px 5px #b0b0f0;
    font-style: italic;
    font-size: 30px;
    color: rgb(238, 218, 181);
}
.box-shadow{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 8px 10px #888888
    

}
.para{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
}
.boder1{
    border-left: 7px solid tomato;
}
.boder2{
    border-left: 7px solid blue;
}